[Desktop Entry]
Version=1.0
Type=Link
Name=How to use PyTorch for anomaly detection? - GeeksforGeeks
Comment=
Icon=user-bookmarks
URL=https://www.geeksforgeeks.org/how-to-use-pytorch-for-anomaly-detection/
